

.header-container {
  background-color: rgb(102, 79, 79);
  padding: 10px 0px;
}

.header-name {
  margin: 20px auto;
  width: min-content;
}

.main-container {
 
}

.form-search {
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  background-color: brown;
  justify-content: center;
}

.input-search {
  width: 400px;
  margin-right: 20px;

  
}

.button-search {
  width: 100px;
  height: 30px;
  background-color: blueviolet;
  color: white;
  border: 3px solid black;
}

.search-clear {

}

.search-keyboard {

}

.search-tia {

}

.container-slider {
  min-height: 300px;
  background-color: rgb(228, 234, 240);
}

.footer-container {
  display: block;
  width: 100%;
  height: 20px;
  border: 2px solid black;
}
/*......................................................................*/
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}
.append-buttons a {
  display: inline-block;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}