@font-face {
  font-family: 'Lato-Bold';
  src: url('fonts/Lato-Bold/Lato-Bold.eot');
  src: local('☺'), url('fonts/Lato-Bold/Lato-Bold.wof') format('woff'), url('fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'), url('fonts/Lato-Bold/Lato-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}





@font-face {
  font-family: 'Lato-Light';
  src: url('fonts/Lato-Light/Lato-Light.eot');
  src: local('☺'), url('fonts/Lato-Light/Lato-Light.woff') format('woff'), url('fonts/Lato-Light/Lato-Light.ttf') format('truetype'), url('fonts/Lato-Light/Lato-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato-Regular';
  src: url('fonts/Lato-Regular/Lato-Regular.eot');
  src: local('☺'), url('fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'), url('fonts/Lato-Regular/Lato-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}




body {
  font-family: 'Lato-Regular';
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}


.header-wrapper {
  background-color: rgb(216, 210, 210);
}


.header-container {
  color: #201750;
  position: relative;
  padding: 60px 0px 200px;
  margin: 0 auto;
  width: 1360px;
}


.header-container:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 0px;
  width: 300px;
  height: 200px;
  background: url(../images/kino.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 120px;
  width: 250px;
  height: 200px;
  background: url(../images/camera.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.header-name {
  position: absolute;
  top: 90px;
  left: calc(50% - 202px);
  font-size: 70px;
  font-family: 'Lato-Bold';
  font-weight: bold;
  font-style: normal;
  width: min-content;
}

.header-text {
  position: absolute;
  top: 190px;
  left: calc(50% - 196px);
  font-size: 20px;
  font-family: 'Lato-Bold';
  font-weight: bold;
  font-style: normal;
}

.main-container {
  margin: 0;
}

.form-wrapper {
  background-color: #1c0917;
  width: 100%;
}

.form-search {
  position: relative;
  margin: 0px auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  width: 1300px;
}




.form-search-clear {
  content: '';
  position: absolute;
  margin: 0;
  top: 37px;
  left: 882px;
  width: 25px;
  height: 25px;
  background: url(../images/clear.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}


.form-search-keyboard {
  content: '';
  position: absolute;
  margin: 0;
  top: 36px;
  left: 824px;
  width: 50px;
  height: 30px;
  background: url(../images/keyboard.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.form-search-keyboard:hover,
.form-search-clear:hover {
  cursor: pointer;
}

.input-search {
  position: relative;
  width: 500px;
  padding: 10px 100px 10px 10px;
  margin-right: 20px;
  border: 2px solid black;
  outline: none;
}



.button-search {
  position: relative;
  font-size: 20px;
  text-align: right;
  width: 120px;
  height: 39px;
  background-color: white;
  border: 3px solid black;
  padding: 0 15px;
  user-select: none;
  outline: none;
}

.button-search:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 25px;
  height: 25px;
  background: url(../images/find-search.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.button-search:hover {
  cursor: pointer;
}

.search-clear {}

.search-keyboard {}

.search-tia {}



.footer-container {
  display: block;
  width: 100%;
  height: 20px;
  border: 2px solid black;
}



.swiper-contant-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}


.wrapper-img-text {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 12px;
  border-bottom: 2px solid;
}


.swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-tittle {
  display: block;
  font-size: 18px;
  font-family: 'Lato-Bold';
  font-weight: bold;
  font-style: normal;
  color: black;
  height: 45px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-tittle:hover {
  text-decoration: underline;
}

.swiper-rating {
  display: flex;
  justify-content: center;
  font-family: 'Lato-Regular';
  font-weight: normal;
  font-style: normal;
  margin: 0 0 20px;
}

.swiper-rating:before {
  content: '';
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url('../images/star.png');
  background-size: contain;
}



.swiper-year {
  font-family: 'Lato-Regular';
  font-weight: normal;
  font-style: normal;
  margin: 0 0 20px;
}

.swiper-basic-information {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.swiper-genre-name {
  color: black;
}

.swiper-genre {
  font-family: 'Lato-Regular';
  font-weight: normal;
  font-style: normal;
  color: #1c2e48;
  font-size: 14px;
}

.swiper-plot-name {
  color: black;
}

.swiper-plot {
  font-family: 'Lato-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #1c2e48;
}

.swiper-additional-information {
  display: none;
  position: absolute;
  text-align: justify;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  top: 0;
  left: 0;
}




.wrapper-img-text:hover  .swiper-additional-information {
  display: block;
}

.swiper-slide:hover .wrapper-img-text {
  border-bottom: 2px solid white;
}

.message-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 1360px;
}

.message-text {
  display: block;
  padding: 0px 50px 5px;
  text-align: center;
  border-bottom: 5px solid black;
  color: black;
  font-size: 20px;
  font-weight: bold;
}


.swiper-pagination {
  font-size: 40px;
  font-family: 'Lato-Bold';
  font-weight: bold;
  font-style: normal;
  color: black;
}


.swiper-wrapper {
  overflow: visible !important;
}

.swiper-contant-container {
  overflow: visible !important;
}

.swiper-container {
  overflow: visible !important;
  margin: 0 !important;
  padding-bottom: 125px !important;
}



.swiper-buttons {
  user-select: none;
  position: relative;
  font-size: 18px;
  font-family: 'Lato-Bold';
  font-weight: bold;
  font-style: normal;
  color: black;
}



.back-top {
  position: absolute;
  left: 500px;
  bottom: 10px;
  z-index: 1;
}

.back-top::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -44px;
  width: 80px;
  height: 40px;
  background: url(../images/left.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.8;
}


.go-end {
  position: absolute;
  right: 500px;
  bottom: 10px;
  z-index: 1;
}

.go-end::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -44px;
  width: 80px;
  height: 40px;
  background: url(../images/right.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.8;
}

.back-top:hover,
.go-end:hover {
  cursor: pointer;
  color: red;
}

.cssload-wrap {
  position: absolute;
  bottom: -115px;
  left: calc(50% - 70px);
  z-index: 1;
}

.container-slider {
  position: relative;
  min-height: 300px;
  background-color: rgb(228, 234, 240);
  padding: 0 0 50px;
  background: inherit;
  width: 1360px;
  overflow: hidden;
  margin: 0 auto;
}


.display-none {
  display: none !important;
}

.swiper-button-next {
  right: 50px !important;
}

.swiper-button-prev {
  left: 50px !important;
}

.opacity-arrow-sw {
  opacity: 0.4;
}





@media (max-width: 1359px) {

  .header-container {
    width: 1000px;
  }


  .header-container:before {
    left: -50px;
  }

  .header-container:after {
    top: 10px;
    right: 50px;
    width: 200px;
    height: 170px;
  }

  .form-search {
    width: 1000px;
  }

  .form-search-keyboard {
    left: 674px;
  }

  .form-search-clear {
    left: 734px;
  }


  .header-name {}

  .header-text {}

  .message-container {
    width: 1000px;
  }

  .container-slider {
    width: 1000px;
  }

  .swiper-img {
    
  }

  .swiper-pagination-fraction {
    bottom: 45px !important;
  }

  .go-end {
    right: 358px;
  }

  .go-end::after {
    top: 8px;
    right: -48px
  }

  .back-top {
    left: 358px;
  }

  .back-top::before {
    top: 8px;
    left: -48px
  }

  .keyboard-container {
    width: 700px !important;
    height: 250px !important;
    left: calc(50% - 353px) !important;
    top: 456px !important;
  }

  .key {
    min-width: 10px !important;
    width: 20px !important;
    padding: 8px !important;
    font-size: 20px;
  }

  .key-nbsp {
    min-width: 10px;
    min-height: 10px;
    padding: 10px 160px !important;
  }

  .key-backspace {
    width: 50px !important;
    ;
  }

  .key-capslk {
    padding: 10px 20px !important;
  }

  .key-shift-right,
  .key-enter {
    padding: 10px 23px !important;
  }

  .wrapper-img-text {
    height: 454px;
  }
  .swiper-additional-information {
  
  }
  .swiper-basic-information {
  
  }
  
  .swiper-genre-name {
  
  }
  
  .swiper-genre {
  
  }
  
  .swiper-plot-name {
  
  }
  .swiper-plot {
  
  }

}




@media (max-width: 1000px) {

  .header-container {
    width: 700px;

  }


  .header-container:before {
    top: 5px !important;
    left: -40px !important;
    width: 200px !important;
    height: 150px !important;
    object-fit: contain !important;
  }

  .header-container:after {
    top: 10px !important;
    right: 50px !important;
    width: 160px !important;
    height: 133px !important;
  }

  .form-search {
    width: 700px;
  }

  .input-search {
    position: relative;
    width: 300px;
    padding: 10px 80px 10px 10px;
    margin-right: 20px;
    border: 2px solid black;
    outline: none;
  }

  .form-search-keyboard {
    left: 414px !important;
  }

  .form-search-clear {
    left: 472px;
  }


  .header-name {}

  .header-text {}

  .message-container {
    width: 700px;
  }

  .container-slider {
    width: 700px;
  }

  .swiper-img {
    
  }

  .swiper-pagination-fraction {
    bottom: 45px !important;
  }

  .go-end {
    right: 230px;
  }

  .go-end::after {
    top: 8px;
    right: -48px
  }

  .back-top {
    left: 230px;
  }

  .back-top::before {
    top: 8px;
    left: -48px
  }

  .keyboard-container {
    width: 680px !important;
    left: calc(50% - 343px) !important;
    top: 456px !important;
  }

  .keyboard-row {
    padding: 0 5px !important;
  }

  .key {
    min-width: 10px !important;
    width: 20px !important;
    padding: 8px !important;
    font-size: 20px;
  }

  .key-nbsp {
    min-width: 10px;
    min-height: 10px;
    padding: 10px 160px !important;
  }

  .key-backspace {
    width: 50px !important;
    
  }

  .key-capslk {
    padding: 10px 20px !important;
  }

  .key-shift-right,
  .key-enter {
    padding: 10px 23px !important;
  }

  .button_reference {

    width: 200px !important;
    left: calc(50% - 100px) !important;

  }


  .wrapper-img-text { 
    height: 310px;
  }

  .swiper-tittle {
    margin: 10px 0;
  }
  .swiper-year {
    margin: 0 0 10px;
  }
  .swiper-additional-information {
  
  }
  .swiper-basic-information {
    margin: 5px 0 15px;
  }
  
  .swiper-genre-name {
  
  }
  
  .swiper-genre {
    margin: 5px 0;
  }
  
  .swiper-plot-name {
  
  }
  .swiper-plot {
    margin: 8px 0 0;
  }

}

















@media (max-width: 780px) {


  .form-search-keyboard {
    display: none !important;
  }

  .input-search {
    position: relative;
    width: 300px;
    padding: 10px 40px 10px 10px;
    margin-right: 20px;
    border: 2px solid black;
    outline: none;
  }


  .form-search-clear {
    left: 452px;
  }

}




/* c 700 до 501 надо фиксить */
@media (max-width: 700px) {

  .header-container {
    width: 500px;
    padding: 60px 0px 150px;

  }

  .header-name {
    font-size: 50px;
    top: 88px;
    left: calc(50% - 145px);

}


  .header-container:before {
    top: 14px !important;
    left: -20px !important;
    width: 200px !important;
    height: 100px !important;
    object-fit: contain !important;
  }

  .header-container::after {
    top: 21px !important;
    right: 42px !important;
    width: 120px !important;
    height: 100px !important;
  }

  .form-search {
    width: 500px;
    position: relative;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: center;
  }

  .input-search {
    position: relative;
    width: 220px;
    padding: 10px 50px 10px 10px;
    margin-right: 10px;
    border: 2px solid black;
    outline: none;
  }

  .form-search-keyboard {
    left: 414px !important;
  }

  .form-search-clear {
    left: 292px;
  }


  .header-name {}

  .header-text {
    top: 150px;
    left: calc(50% - 142px);
  }

  .message-container {
    width: 500px;
  }

  .container-slider {
    width: 500px;
  }

  .swiper-img {
    
  }

  .swiper-pagination-fraction {
    bottom: 45px !important;
  }

  .go-end {
    right: 100px;
  }

  .go-end::after {
    top: 8px;
    right: -48px
  }

  .back-top {
    left: 100px;
  }

  .back-top::before {
    top: 8px;
    left: -48px
  }







  .button_reference {

    display: none;

  }

  .swiper-button-next {
    right: 15px !important;
  }

  .swiper-button-prev {
    left: 15px !important;
  }



  .wrapper-img-tex {
    height: 310px;
   }
.swiper-additional-information {

}
.swiper-basic-information {

}

.swiper-genre-name {

}

.swiper-genre {

}

.swiper-plot-name {

}
.swiper-plot {

}

}










@media (max-width: 500px) {
  .button_reference {
    display: none !important;
  }

  .header-container {
    width: 320px;
    padding: 60px 0px 130px;
  }


  .header-container:before {
    top: 20px !important;
    left: -10px !important;
    width: 120px !important;
    height: 70px !important;
    object-fit: contain !important;
  }

  .header-container::after {
    top: 20px !important;
    right: 40px !important;
    width: 86px !important;
    height: 70px !important;
  }

  .form-search {
    width: 300px;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .input-search {
    position: relative;
    width: 150px;
    padding: 10px 40px 10px 10px;
    margin-right: 10px;
    border: 2px solid black;
    outline: none;
  }

  .form-search-keyboard {
    left: 414px !important;
  }

  .form-search-clear {
    left: 203px;
    top: 18px;
  }

  .button-search {
    position: relative;
    font-size: 0px;
    text-align: right;
    width: 40px;
    height: 39px;
    background-color: white;
    border: 3px solid black;
    padding: 0 15px;
    user-select: none;
    outline: none;
}


  .header-name {
    position: absolute;
    top: 80px;
    left: calc(50% - 116px);
    font-size: 40px;
    font-family: 'Lato-Bold';
    font-weight: bold;
    font-style: normal;
    width: min-content;
}
  

.header-text {
  position: absolute;
  top: 130px;
  left: calc(50% - 120px);
  font-size: 18px;
  font-family: 'Lato-Bold';
  font-weight: bold;
  font-style: normal;
}

  .message-container {
    width: 320px;
  }

  .message-text {
    display: block;
    padding: 0px 50px 5px;
    text-align: center;
    border-bottom: 5px solid black;
    color: black;
    font-size: 11px;
    font-weight: bold;
}

  .container-slider {
    width: 320px;
  }

  .swiper-img {
    
  }



  .swiper-pagination-fraction {
    bottom: 45px !important;
  }

  .go-end {
    right: 54px;
  }

  .go-end::after {
    top: 8px;
    right: -25px;
    width: 50px;
    height: 30px;
  }

  .back-top {
    left: 45px;
  }

  .back-top::before {
    top: 8px;
    left: -25px;
    width: 50px;
    height: 30px;
  }




.swiper-button-prev, .swiper-button-next {
  display: none !important;
}


  .button_reference {

    width: 200px !important;
    left: calc(50% - 100px) !important;

  }

  .swiper-button-next {
    right: 15px !important;
  }

  .swiper-button-prev {
    left: 15px !important;
  }


  .wrapper-img-tex { 
    height: 232px;
  }
.swiper-additional-information {

}
.swiper-basic-information {
  display: none;

}

.swiper-genre-name {

}

.swiper-genre {

}

.swiper-plot-name {

}
.swiper-plot {

}

.swiper-tittle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 20px;
}

}